@font-face {
	font-family: 'ubuntu';
	src: url('../fonts/ubuntulight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'ubuntu';
	src: url('../fonts/ubuntu.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'ubuntu';
	src: url('../fonts/ubuntumedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'ubuntu';
	src: url('../fonts/ubuntubold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'ubuntu';
	src: url('../fonts/ubuntulightitalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'ubuntu';
	src: url('../fonts/ubuntuitalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'ubuntu';
	src: url('../fonts/ubuntumediumitalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'ubuntu';
	src: url('../fonts/ubuntubolditalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}
